
services:
  mongo:
    image: mongo:7
    container_name: mongo
    restart: always
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"

  server:
    build: ./backend
    container_name: server
    restart: always
    env_file:
      - ./backend/.env
    ports:
      - "5000:5000"
    dns:
      - 8.8.8.8
      - 8.8.4.4
    depends_on:
      - mongo

  client:
    build: ./frontend
    container_name: client
    restart: always
    ports:
      - "80:3000"

volumes:
  mongo_data:
