version: '3.8'

services:
  mongo:
    image: mongo:7
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"

  server:
    build: ./backend
    env_file:
      - ./backend/.env  # Single file
    ports:
      - "5000:5000"
    depends_on:
      - mongo

  client:
    build: ./frontend
    env_file:
      - ./frontend/.env  # Single file
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - server

volumes:
  mongo_data: