version: '3.8'

services:
  mongo:
    image: mongo:7
    hostname: mongo
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"

  server:
    build: ./backend
    env_file:
      - ./backend/.env 
    ports:
      - "5000:5000"
    depends_on:
      - mongo
    dns:
      - 8.8.8.8
      - 8.8.4.4

  client:
    build: ./frontend
    env_file:
      - ./frontend/.env  
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    depends_on:
      - server

volumes:
  mongo_data: