@import "tailwindcss";

@theme {
  --color-primary: #00A991;
  --color-secondary: #D6EFC7;
  --color-accent: #FAD586;
  --color-shadow: #184D47;
  --color-white: #FEF9ED;

  --font-sans: Nunito, sans-serif;

  --text-xs: 12px;
  --text-sm: 14px;
  --text-md: 16px;
  --text-lg: 24px;
  --text-xl: 32px;
  --text-xxl: 40px;

  --font-weight-light: 300;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  --shadow-soft: 0px 4px 10px rgba(24, 77, 71, 0.2);
}